.headerContainer {
  height: 88.5rem;
  background-image: url("../../assets/Hero Image.png");
  background-position: -400px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .textBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75rem;
    margin: 19rem 17rem 0 0;
    float: right;

    h3 {
      @include headerH3;
      text-align: center;
    }

    .decoration {
      @include decoration;
    }

    .buttonBar {
      margin-top: 4rem;
      display: flex;

      .button {
        @include button;
      }

      .buttonGiveAway {
        margin-right: 4.4rem;
      }
    }
  }
}
