.navBar {
  display: flex;
  justify-content: flex-end;
  padding: 0 12.5rem;
  .navBarButton {
    color: $color-font;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border: 0.75px solid transparent;
    cursor: pointer;
    &:active {
      -webkit-box-shadow: inset -1.5px -1.5px 5px 0px #bdbdbd;
      -moz-box-shadow: inset -1.5px -1.5px 5px 0px #bdbdbd;
      box-shadow: inset -1.5px -1.5px 5px 0px #bdbdbd;
    }
    &:hover {
      border: 0.75px solid $color-font;
    }
  }
}