@mixin button {
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 4.5rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $color-font;
  padding: 1.3rem 0;
  width: 31rem;
  border: 0.75px solid $color-font;
  cursor: pointer;
  &:active {
    -webkit-box-shadow: inset -3px -3px 5px 0px #bdbdbd;
    -moz-box-shadow: inset -3px -3px 5px 0px #bdbdbd;
    box-shadow: inset -3px -3px 5px 0px #bdbdbd;
  }
}

@mixin error {
  display: inline-block;
  color: red;
  align-self: flex-start;
  margin: 1rem 7rem;
  font-size: 1.2rem;
}

@mixin smallButton {
  outline: none;
  display: inline-block;
  width: 12rem;
  height: 5rem;
  background-color: transparent;
  border: 0.75px solid transparent;
  color: $color-font;
  font-family: $font-base;
  font-size: 1.8rem;
  line-height: 5rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:active {
    -webkit-box-shadow: inset -3px -3px 5px 0px #bdbdbd;
    -moz-box-shadow: inset -3px -3px 5px 0px #bdbdbd;
    box-shadow: inset -3px -3px 5px 0px #bdbdbd;
  }
  &:hover {
    border: 0.75px solid $color-font;
  }
}

@mixin headerH3 {
  font-size: 3.8rem;
  line-height: 5.5rem;
  text-align: center;
}

@mixin headerH2 {
  font-size: 4rem;
  line-height: 5.5rem;
  text-align: center;
}

@mixin decoration {
  width: 30rem;
  height: 5rem;
  margin-top: 2.5rem;
  background-image: url("../../assets/Decoration.svg");
  background-repeat: no-repeat;
  background-position: center;
}